@font-face {
  font-family: 'Douglas-Burlington-Regular';
  font-display: block;
  font-style: normal;
  font-named-instance: 'Display';
  src: url('/fonts/Douglas-Burlington-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Audrey-Normal';
  font-display: block;
  font-style: normal;
  src: url('/fonts/Audrey-Normal.otf') format('otf');
}

@font-face {
  font-family: 'Audrey-Medium';
  font-display: block;
  font-style: medium;
  src: url('/fonts/Audrey-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Audrey-Bold';
  font-display: block;
  font-style: bold;
  src: url('/fonts/Audrey-Bold.otf') format('otf');
}

@layer base {
  html {
    font-family: 'Audrey-Normal', sans-serif;
  }
  h1 {
    font-family: 'Douglas-Burlington-Regular', display;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  h2 {
    font-family: 'Douglas-Burlington-Regular';
    letter-spacing: 0.05em;
  }
  h3 {
    font-family: 'Audrey-Bold';
    letter-spacing: 0.05em;
  }
  h4 {
    font-family: 'Audrey-Medium';
    letter-spacing: 0.05em;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
